body{
    margin: 0;
        padding: 0;
        height: 100vh;
        background: url('lion-roar-41.gif') no-repeat center center fixed; 
        background-size: cover;
}
.titulo{
    color: green;
}
.card1{
    display: flexbox;     
    position: -ms-page;
}
